body {
    font-family: open-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

@media (min-width: 1280px) {
    .container {
        max-width: 1150px;
    }
}

p {
    line-height: 1.9;
}

h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-family: rosella-hatched,sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: rosella-hatched,sans-serif;
    font-size: 52px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: merriweather, serif;
    font-weight: 700;
    font-style: normal;
}

h4 {
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: merriweather, serif;
    font-weight: 700;
    font-style: normal;
}

.bg-dark { background: #2D1611; }
.bg-medium { background: #E4D8D5; }
.text-dark { color: #2D1611; }
.text-medium { color: #E4D8D5; }

.nav-link {
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: #fff;

    font-family: prohibition, sans-serif;
    font-weight: 400;
    font-style: italic;
}

.hero-img-black {
    position: absolute;
    right: 0;
    height: 250px;
    width: 250px;
    background-size: contain;
    background: url('/static/img/blind-pig.png');
}

.hero-subtitle {
    color: #CCA025;
    padding-top: 0.25rem;
    padding-bottom: 0.4rem;
}

.hero {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background: #fff;
}

.favorites {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background: #2D1611;
    text-align: center;
}

.favorites > .img-flourish-top {
    background: url('/static/img/flourish_top.png');
    width: 100%;
    height: 100%;
}

.favorites > .img-flourish-bottom {
    background: url('/static/img/flourish_bottom.png');
}

.favorites .content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.favorites h4 {
    padding-bottom: 0.5rem;
}

.menu {
    /* padding-top: 7rem; */
    padding-bottom: 7rem;
    background: #2D1611;
}

.contact {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background: #E4D8D5;
}

.btn-hero {
    background: #CCA025;
    border: 2px solid #CCA025;
    color: #2D1611;
}

.btn-hero:hover {
    background: transparent;
    border-color: #CCA025;
}

.btn-default {
    background: transparent;
    border-color: #CCA025;
    border: 2px solid #CCA025;
}

.btn-default:hover {
    background: #CCA025;
    color: #2D1611;
}

.btn {
    font-family: prohibition, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 1.3em;
    transition: ease-in-out .25s;
}

.footer {
    background: #2D1611;
}