<div class="mobile-nav" style="margin-top: 4.9rem">
  <a class="{% if section == 'about' %}active{% endif %}" href="/./about">Our Story</a>
  <a class="{% if section == 'menu' %}active{% endif %}" href="/./menu">Menu</a>
  <a class="{% if section == 'contact' %}active{% endif %}" href="/./contact">Contact Us</a>
  <a class="{% if section == 'store' %}active{% endif %}" href="/./store">Get Merch</a>
</div>
