<footer class="footer">
  <div class="separator"></div>
  <div class="wrapper">
    <div class="footer-container">
      <div id="contact" class="footer-left">
        <h3>About us</h3>
        <ul>
          <li><a href="mailto:hi@mountaincannabisco.com">hi@mountaincannabisco.com</a></li>
          <li><a href="tel:+17785175282">(778) 517-5282</a></li>
          <li> <a target="blank"
              href="https://www.google.com/maps/place/21+Cranbrook+St+N,+Cranbrook,+BC+V1C+3P7/@49.5128915,-115.7704286,17z/data=!3m1!4b1!4m5!3m4!1s0x5364d8ccae7afd4d:0xf60d470de304de10!8m2!3d49.5128915!4d-115.7682399">21 Cranbrook St N inside the Old Byng Hotel</a> </li>
          <li>
            <a target="blank"
              href="https://www.google.com/maps/place/21+Cranbrook+St+N,+Cranbrook,+BC+V1C+3P7/@49.5128915,-115.7704286,17z/data=!3m1!4b1!4m5!3m4!1s0x5364d8ccae7afd4d:0xf60d470de304de10!8m2!3d49.5128915!4d-115.7682399">
              <img class="map-img" src="/static/img/map-updated.jpg" alt="Map">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-right">
        <div class="footer-right-info">
          <div>
            <h3>Information</h3>
            <ul>
              <li><a href="/privacy-policy/">Privacy Policy</a></li>
              <li><a href="/terms-conditions/">Terms & Conditions</a></li>
            </ul>
          </div>
          <div class="social">
            <h3>Social media</h3>
            <ul>
              <li>
                <a href="#">
                  <img src="/static/img/instagram-icon.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/static/img/facebook-icon.png" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-newsletter">
          <h3>Newsletter</h3>
          <form name="newsletter_footer" data-netlify="true" method="POST" action="/thank-you" netlify-honeypot="bot-field">
            <input type="hidden" name="form-name" value="newletter_footer">
            <input placeholder="Email Address" type="email" name="email">
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
