<nav class="container mx-auto hidden md:block">
    <div class="flex justify-center">
        <div class="w-64 text-center my-auto">
            <a class="nav-link" href="/./about">
                Our Story
            </a>
        </div>
        <div class="w-64 text-center my-auto">
            <a class="nav-link" href="/./menu">
                Menu
            </a>
        </div>
        <div class="w-24 py-3 text-center">
            <a class="nav-link" href="{{ '/' | url }}">
                <img class="w-full h-auto" src="{{ metadata.logo }}" alt="blind pig logo">
            </a>
        </div>
        <div class="w-64 text-center my-auto">
            <a class="nav-link" href="/./contact">
                Contact Us
            </a>
        </div>
        <div class="w-64 text-center my-auto">
            <a class="nav-link" href="/./store">
                Get Merch
            </a>
        </div>
    </div>
</nav>