<div class="mobile-nav">
  <div>
    sdf
  </div>
  <a href="/./#story">Our Story</a>
  <a href="/./#story">Good Eats</a>
  <a href="/./#contact">Contact</a>
    <a href="/shop">Shop</a>
</div>
