---
layout: layouts/base.njk
section: 404
---
<div style="display: flex; min-height: 50vh; height: auto; text-align: center;">
    <div class="m-auto">
        <h3>Uh oh!</h3>
        <p class="pt-4">
            We don't know where you were supposed to be! The page you were trying to visit may have been moved or deleted.
        </p>
        <div>
            <a href="/./" class="font-semibold text-lg">Back to Home</a>
        </div>
    </div>
</div>