---
layout: layouts/base.njk
section: 404
---
<div style="display: flex; min-height: 50vh; height: auto; text-align: center;">
    <div class="m-auto">
        <h3 class="text-5xl">Uh oh!</h3>
        <div class="py-10">
            <p>
                We don't know where you were supposed to be!
            </p>
            <p>
                The page that you are trying to visit may have been moved or deleted.
            </p>
        </div>

        <div>
            <a href="/./" class="btn btn-default mx-auto">Back to Home</a>
        </div>
    </div>
</div>