---
layout: layouts/base.njk
section: about
---
<section class="about-section">
    <div class="container mx-auto">
        <div class="flex flex-wrap">
            <div class="w-full xl:w-2/5">
                <div class="relative hidden xl:block">
                    <div class="floating-image">
                        <img class="block w-32 mb-6 opacity-50 mx-auto" src="/static/img/flourish_top.png" alt="flourish top" />
                        <img class="block mx-auto" src="{{ headline_image }}" alt="headline" />
                        <img class="block w-32 mt-6 mx-auto" src="/static/img/flourish_bottom.png" alt="flourish flourish" />
                    </div>
                </div>
            </div>
            <div class="w-full xl:w-3/5 my-auto">
                <h2>{{ headline_title }}</h2>
                <h3>{{ headline_subtitle }}</h3>
                <p class="w-full lg:w-2/3">
                    {{ headline_text }}
                </p>
                <div class="mt-10">
                    <a href="/./menu" class="btn btn-default">{{ headline_button }}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="why-section pt-36 xl:pt-0">
    <div class="hidden xl:block image-wrapper"></div>
    <div class="container mx-auto">
        <div class="w-full lg:w-4/5">
            <h2>{{ why_title }}</h2>
            <h3>{{ why_subtitle }}</h3>
            <p>
                {{ why_text }}
            </p>
            <div class="mt-10">
                <a href="#" class="btn btn-invert">{{ why_button }}</a>
            </div>
        </div>
    </div>
    <div class="when-pigs-fly"></div>
</section>

<section class="team-section">
    <div class="container mx-auto">
        <h1 class="text-center">{{ team_title }}</h1>
        <div class="hidden md:block splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for item in team_members %}
                        <li class="splide__slide px-8">
                            <img class="clip-frame" src="{{ item.picture }}" alt="frame" />
                            <div class="info">
                                <h3>{{ item.name }}</h3>
                                <p>{{ item.role }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="md:hidden splide splide__mobile">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for item in team_members %}
                        <li class="splide__slide px-8">
                            <img class="clip-frame" src="{{ item.picture }}" alt="frame" />
                            <div class="info">
                                <h3>{{ item.name }}</h3>
                                <p>{{ item.role }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener( 'DOMContentLoaded', function () {
        const element = document.getElementsByClassName('splide')[0];
        const elementMobile = document.getElementsByClassName('splide__mobile')[0];
        if (element)
            new Splide( '.splide', {
                type   : 'loop',
                perPage: 3,
                perMove: 1,
            }).mount();

        if (elementMobile)
            new Splide( '.splide__mobile', {
                type   : 'loop',
                perMove: 1,
            }).mount();
    } );
</script>