---
layout: layouts/base.njk
section: home
---
<section class="hero">
    <div class="container mx-auto">
        <div class="w-full md:w-1/2 mr-auto">
            <h1>{{ preview_title }}</h1>
            <h3 class="hero-subtitle">{{ preview_subtitle }}</h3>
            <p>
                {{ preview_text }}
            </p>
            <div class="mt-10">
                <a href="/./#story" class="btn btn-invert">Our Story</a>
            </div>
        </div>
    </div>
    <div class="hidden lg:block hero-blindpig-top"></div>
</section>

<section class="favorites">
    <div class="container mx-auto">
        <div class="w-32 opacity-50 mx-auto">
            <img src="/static/img/flourish_top.png" alt="flourish top" />
        </div>
        <div class="content text-medium">
            <h4>{{ favorites_title }}</h4>
            <p>{{ favorites_subtitle }}</p>
            <div class="py-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 place-items-center gap-12">
                {%- for item in favorites_items %}
                    <div>
                        <img src="/static/img/photo-frame.png" class="w-full h-auto" />
                    </div>
                {%- endfor %}
            </div>
            <div class="py-4">
                <a href="/./menu" class="btn btn-default">{{ menu_button }}</a>
            </div>
        </div>
    </div>
    <div class="hidden lg:block hero-blindpig-bottom"></div>
</section>

<section class="menu flex">
    <div class="hidden lg:block lg:w-2/5">
        <img src="/static/img/cig.png" alt="cigarette" />
    </div>
    <div class="w-full lg:w-3/5 lg:my-auto">
        <div class="w-4/5 mx-auto text-medium">
            <h2>{{ menu_title }}</h2>
            <h3 class="py-2">{{ menu_subtitle }}</h3>
            <p class="pb-2">
                {{ menu_text }}
            </p>
            <div class="mt-6">
                <a href="/./menu" class="btn btn-default">{{ menu_button }}</a>
            </div>
        </div>
    </div>
    <div class="hidden lg:block hero-pigsfly-top"></div>
</section>

{% include "components/contact.njk" %}