---
layout: layouts/base.njk
section: menu
---
<div class="menu-header">
    <h2>Menu</h2>
    <div class="hidden xl:block menu-pigsfly-top"></div>
    <div class="hidden xl:block menu-pigsfly-bottom"></div>
</div>
<div class="menu-content pt-1">
    <div class="w-full md:w-3/5 xl:w-2/5 mx-auto menu-navigation">
        <div class="flex flex-wrap">
            {%- for item in menus -%}
                {%- if loop.index0 == 0 -%}
                    <button id="nav_{{ loop.index0 }}" type="button" onclick="showMenu({{ loop.index0 }})" class="item active w-1/3 sm:w-1/{%- if loop.length >= 2 and loop.length <= 4 -%}{{ loop.length }}{%- else -%}4{%- endif -%}">
                        {{ item.menu_name }}
                    </button>
                {%- else -%}
                    <button id="nav_{{ loop.index0 }}" type="button" onclick="showMenu({{ loop.index0 }})" class="item not-active w-1/3 sm:w-1/{%- if loop.length >= 2 and loop.length <= 4 -%}{{ loop.length }}{%- else -%}4{%- endif -%}">
                        {{ item.menu_name }}
                    </button>
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
    {%- for key in menus -%}
        <div id="menu_{{ loop.index0 }}" class="{% if loop.index0 != 0 %}hidden{% endif %}">
            {%- for menu in menus[loop.index0].menu_items -%}
                <div class="{% if menu.background %}bg-medium{% else %}bg-white{% endif %}">
                    <div class="container mx-auto py-8 md:py-16">
                        <div class="flex justify-center">
                            <div class="w-16 my-auto">
                                <img src="/static/img/flourish_bottom.png" alt="Flourish bottom" />
                            </div>
                            <div class="w-auto px-6 lg:px-10">
                                <h2>{{ menu.category }}</h2>
                            </div>
                            <div class="w-16 my-auto">
                                <img src="/static/img/flourish_bottom.png" alt="Flourish bottom" />
                            </div>
                        </div>
                        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 md:gap-12 pt-8 md:pt-12">
                            {% for item in menu.items %}
                                <div class="mx-0 lg:mx-auto">
                                    {% if item.price_value_two %}
                                        <h4 class="pb-2">{{ item.name }}</h4>
                                        <div class="pb-2">
                                            {{ item.description }}
                                        </div>
                                        <div>
                                            <div class="flex pb-2">
                                                <div class="w-24 my-auto">
                                                    {{ item.price_size_one }}
                                                </div>
                                                <div class="w-20 px-5 my-auto">
                                                    <div class="price-border"></div>
                                                </div>
                                                <div class="w-auto my-auto">
                                                    <span class="price-label">
                                                        {{ item.price_value_one }}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex pb-2">
                                                <div class="w-24 my-auto">
                                                    {{ item.price_size_two }}
                                                </div>
                                                <div class="w-20 px-5 my-auto">
                                                    <div class="price-border"></div>
                                                </div>
                                                <div class="w-auto my-auto">
                                                    <span class="price-label">
                                                        {{ item.price_value_two }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="flex">
                                            <div class="w-auto my-auto">
                                                <h4 class="pb-2">{{ item.name }}</h4>
                                            </div>
                                            <div class="px-5 w-20 my-auto">
                                                <div class="price-border"></div>
                                            </div>
                                            <div class="price-label w-auto my-auto">
                                                <span class="price-label">
                                                    {{ item.price_value_one }}
                                                </span>
                                            </div>
                                        </div>
                                        <div>
                                            {{ item.description }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>