---
layout: layouts/base.njk
section: 404
---
<div style="display: flex; min-height: 50vh; height: auto; text-align: center;">
    <div class="m-auto">
        <h3 class="text-5xl">Thank you</h3>
        <div class="py-10">
            <p>
                Your message has successfully been sent!
            </p>
            <p>
                It may take us up to 24 hours or longer to respond to your message.
            </p>
        </div>

        <div>
            <a href="/./" class="btn btn-default mx-auto">Back to Home</a>
        </div>
    </div>
</div>