<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

  {% include "components/head.njk" %}

  <main>

  	<svg id="fader"></svg>
	<script>
            fadeInPage();
        </script>

</main>

  <body>

    <header class="header">
      <div class="wrapper">
        <em>
          <a class="logo" href="{{ '/' | url }}">
            <img src="{{metadata.logo}}">
          </a>
        </em>
        {% include "components/nav.njk" %}
      </div>
    </header>
    <header class="header-mobile">
      <div class="wrapper">
        <em>
          <a class="logo" href="{{ '/' | url }}">
            <img src="{{metadata.logo}}">
          </a>
        </em>
        <button class="btn-nav">
          <img src="/static/img/mobile_nav_button.png">
        </button>
        {% include "components/navmobile.njk" %}
      </div>
    </header>

    <main>
      {{ layoutContent | safe }}
    </main>

    {% include "components/footer.njk" %}


  </body>

</html>
